.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    width: 100%;
    background: #01DFD7;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  table {
    margin: 0 20px;
    width: calc(100% - 40px);

    thead {
      background: rgba(127, 127, 127, 1);

      th {
        font-weight: bold;
        color: rgba(224, 224, 224, 1);
        user-select: none;
      }

    }

    .MuiTableCell-root {
      border: 1px solid rgba(224, 224, 224, 1);
    }

    tbody {
      tr {
        &:first-child {
          background: rgba(185, 185, 185, 1);
        }
      }
    }

    thead {
      tr {
        th {
          &:nth-child(2n+1) {
            width: 35%;
          }

          &:nth-child(2n) {
            width: 15%;
          }
        }
      }
    }
  }

  .pagination {
    user-select: none;
    margin: 10px;
    button {
      user-select: none;
      background: none;
      border: none;

      &:hover {
        font-weight: bold;

        &:active {
          font-weight: normal;
        }
      }
    }

    span {
      user-select: none;

      &.underline {
        text-decoration: underline;
      }
    }
  }
  button{
    height: 30px;
  }
}
